*{
    font-family: Arial, sans-serif;
    text-align: center;
}

.bcg-container {
    padding-top: 15%;
    padding-bottom:18%;
    background-image:url('/bcg-container.jpg');
    background-size:cover;
    background-position:center;
    width:100%;
    height:auto;
}

button {
    padding: 10px 20px;
    font-size: 25px;
    margin-bottom: 10px;
}